/* <!-- RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 1
Author: Tran Nguyen Anh Minh
ID: s3979367
Acknowledgement: 
    Basic Rounded Lineal Beta icon - Flaticon (https://www.flaticon.com/free-icon/beta_4743032?term=beta&related_id=4743032)
    CSS and HTML inspirations from w3schools.com, quantrimang.com and stackoverflow.com: 
        https://www.w3schools.com/howto/howto_css_breadcrumbs.asp
        https://stackoverflow.com/questions/4309950/how-to-align-input-forms-in-html
        https://quantrimang.com/hoc/button-trong-css-163772
    Book images: Fahasa: https://www.fahasa.com/
                 

A static website for Assignment 1 (Web Programming) 
    Live URL to the website: https://guitarhero2004.github.io/Static-Website/

    URL to my GitHub repository: https://github.com/GuitarHero2004/Static-Website --> */




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    aspect-ratio: 2/3;
    margin: 0;
}


/* Youtube video */

#youtube_video {
    margin: 10px 10px 10px 10px;
}

#categories .container:first-child {
    display: flex;
    justify-content: space-around;
}

#categories > div[class^="container"]:first-child {
    border: 1px dashed black;
}

/* Youtube video */


/* quotes */

#categories .container:first-child #quotes {
    display: flex;
    margin: 10px 10px 10px 10px;
}

#quotes {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#quotes h1 {
    font-family: 'Pacifico', cursive;
    font-size: 300%;
}

#quotes div:first-child {
    margin-bottom: 30px;
}

#quotes p:first-child {
    text-align: center;
}

#quotes p:last-child {
    text-align: end;
    margin: 5px 150px 5px 150px;
}

#quotes p:last-child::before {
    content: "- ";
}

/* quotes */


/* button for entering book details */

.clickable {
    -webkit-transition-duration: 0.4s; transition-duration: 0.4s;
    cursor: pointer;}
    
.clickable:hover {  
    background-color: crimson;  
    color: white
}

.non-clickable {
    opacity: 0.8;
    pointer-events: none;
}

a.clickable a.non-clickable {
    padding: 10px;
}

/* button for entering book details */


/* header */

header {
    background-color: darkgrey;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 20px 100px 20px 100px ;
    z-index: 3;
}

header > div > h1 {
    font-family: 'Brush Script MT', cursive;
    margin: 10px;
}

header input {
    display: none;
}

.topnav_links {
    display: flex;
    align-items: center;
}

header nav ul li a {
    position: relative;
    display: flex;
    z-index: 1;
    justify-content: center;
}

header nav ul li a:hover {
    color: red;
}

.top_nav {
    list-style-type: none;
    display: inline-block;
    margin: 10px;
    font-size: 150%;
}

.top_nav a {
    font-family: 'Signika Negative', sans-serif;;
}

#topnav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 6px 5px;
    font-size: small
}

h1 a {
    color: white;
}

.top_nav a {
    color: white;
}

/* header */


/* section */

section {
    background-color: beige;
    border-radius: 15px;
}

img {
    box-shadow: 5px 5px 5px  lightgray;
}

div {
    text-align: center;
}

a {
    text-decoration: none;
    display: flex;
    justify-content: center;
}


.container {
    padding: 10px;
    width: 100%;
}

h2 a {
    text-align: center;
    font-family: "Aladin", cursive ;
    color: black;
    margin: 8px 0;
}

#categories {
    padding: 10px;
    margin-bottom: 15px;
}

#categories > div[class^="container"] {
    border: 2px solid black;
    margin: 30px 0 30px 0;
    border-radius: 20px;
}

.category_books > div {
    display: inline-block;
    width: 24%;
    margin: 0 10px;
}

.homepage_bookimages {
    max-width: 100%;
    max-height: 300px;
}

.bookname {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.bookname a {
    border: 1.5px solid red;
    border-radius: 50px;
    padding: 2px 10px;
    transition: .5s;
}

.bookname a:hover {
    background-color: red;
    color: white;
}

.container a {
    padding: 10px;
}

/* section */


/* Breadcrumb */

ul.breadcrumb {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px 10px;
}

ul.breadcrumb li {
    display: inline;
}

ul.breadcrumb li a {
    display: inline;
    color: black;
    font-size: 150% ;
}

ul.breadcrumb li + li:before {
    content: "/";
    font-size: 150%;
    padding: 8px;
}

ul.breadcrumb li a:hover {
    color: red;
    text-decoration: underline;
}

/* Breadcrumb */


/* All subcategories */

#subcategories {
    padding: 10px;
    margin: 15px;
}

#subcategories > div[class^="container"] {
    border: 2px solid black;
    margin: 30px 0 30px 0;
    border-radius: 20px;
}

.subcategory_books > div {
    display: inline-block;
    width: 24%;
}

.bookimages {
    max-width: 100%;
    max-height: 300px;
}

/* All subcategories */


/* Definition */

#subcategories > div[class^="container"]:first-child {
    border: 1px dotted black;
}

#subcategories .container:first-child {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}


.container:first-child h1 a {
    font-family: "Pacifico", cursive;
    color: black;
    font-size: 200%;
}

.container:first-child div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container:first-child p {
    text-align: left;
    margin-top: 10px;
    padding: 5px 10px 5px 10px;
}

/* Definition */


/* Footer */

footer {
    background-color:black;
    padding: 0 50px 0 50px;
}

footer nav ul li a:hover {
    color: gold;
}

.bottom_nav {
    list-style-type: none;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size: 150%;
}

#bottomnav {
    display: flex;
    flex-direction: row-reverse;
    font-size: small
}

.bottom_nav a {
    color: white;
    font-family: 'Signika Negative', sans-serif;
}

/* Footer */


/* Book details */

#book_details {
    background-color:cornsilk;
}

#book_detail_images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#book_detail_images > div:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#book_detail_images > div:first-child > #book_detail_subimages {
    margin-left: 50px;
}


#book_detail_images img {
    display: flex;
    justify-content: center;
    position: relative;
    max-width: 100%;
    max-height: 450px;
}

#main_image {
    display: flex;
    align-items: center;
}

#book_detail_subimages {
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}

#book_detail_subimages img {
    max-width: 100%;
    max-height: 150px;
    margin: 20px;
} 

#book_price {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#book_price div:first-child > h2 {
    font-size: 300%;
}

#book_price div:first-child > p  {
    font-size: 200%;
}

#book_price div:first-child {
    margin-bottom: 30px;
}

button {
    border-radius: 20px;
    font-weight: bold;
    font-size: 200%;
    padding: 25px 50px 25px 50px;
}

/* Book details */


/* Book description */

#book_description {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    border: 1px black dashed;
    margin: 10px 20px 10px 20px;
    border-radius: 15px;
    padding: 5px 5px 5px 5px;
}

#book_description > div:last-child {
    margin-top: 15px;
}

#book_description h1 a{
    color: black;
    justify-content: flex-start;
    margin: 15px 10px 10px 10px;
    font-family: "Garamond", serif;
}

#book_description p {
    text-align: left;
    margin: 15px 10px 10px 10px;
}


/* Book description */


/* Contact Page */

form {
    display: table;
    margin: 10px;
    width: 100%;
}

form div {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

main h1 {
    text-align: center;
    font-family: "Pacifico", cursive;
}

.contact_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:lightskyblue;
    width: 60%;
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: "monsterrat", sans-serif;
}

form label {
    display: table-cell;
    text-align: center;
    padding: 5px;
    margin: 5px;
}

label span {
    color: red;
}

#name #email #phone_number {
    display: flex;
    justify-content: center;
    align-items: center;
}

#prefer_phone #prefer_email {
    display: inline;
}

.contact_page button {
    font-size: 100%;
    padding: 5px 10px 5px 10px;
}

.container_checkbox {
    display: block;
    position: relative;
    cursor: pointer;
}

.container_radio {
    display: block;
    position: relative;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    font-size: medium;
    text-align: left;
    cursor: pointer;
}

p .container_radio {
    text-align: center;
}

p textarea {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

textarea {
    font-size: 15px;
    resize: none;
    overflow: auto;
    border: none;
}

#reset_and_submit {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

#reset_and_submit label:last-child button {
    background-color: red;
    color: white;
}

.reset-submit_buttons {
    display: flex;
    justify-content: center;
}

/* Contact Page */


/* Media query */

@media screen and (max-width: 960px) {
    
    header {
        display: flex;
        flex-direction: column;
    }

    header h1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #topnav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .topnav_links {
        display: flex;
        flex-direction: column;
    }

    form input {
        display: block;
    }

    .category_books, .subcategory_books {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .category_books div, .subcategory_books div {
        display: flex;
        margin: 10px 10px;
    }

    #categories .container:first-child {
        display: flex;
        flex-direction: column;
    }

    #subcategories .container:first-child {
        display: flex;
        flex-direction: column;
    }

    #subcategories img {
        padding: 10px;
    }

    section {
        margin: 20px 20px 20px 20px;
    }

    .breadcrumb {
        font-size: 70%;
    } 

    #book_detail_images {
        display: flex;
        flex-direction: column;
    }

    #book_detail_images > div:first-child {
        display: flex;
        flex-direction: column;
    }

    #main_image {
        display: flex;
        justify-content: center;
    }

    #book_detail_subimages {
        display: flex;
        flex-direction: row;
        margin: 50px;
        justify-content: space-around;
    }

    #book_price div:first-child {
        margin-top: 15px;
    }

    #book_price div:last-child {
        margin: 15px 5px 15px 5px;
    }

    .contact_page {
        align-items: flex-start;
    }

    form {
        width: 95%;
    }

    form div {
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
    }

    label {
        font-size: larger;
    }

    .contact_page select, .name input, .email input, .phone_number input {
        flex: 1;
        width: 100%;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 14px;
        margin: 20px 0;
    }

    .extra_notes {
        flex-direction: row;
    }

    .reset-submit_buttons {
        flex-direction: row;
    }

    #reset_and_submit {
        flex-direction: row;
    }

    #bottomnav {
        justify-content: center;
    }

}

/* Media query */